* {
    box-sizing: border-box;
  }
  
  :root {
    font-family:
      Inter,
      system-ui,
      Segoe UI,
      Roboto,
      Helvetica Neue,
      sans-serif;
    color: black;
    background: white;
  }
  
  body {
    margin: 0;
    padding: 0;
    overflow-y: hidden;
  }
  
  iframe {
    height: 90vh;
    width: 100%;
    border: none;
    background-color: transparent;
  }

  .terminal::before {
    display: inline-flex;
    height: 20px;
    padding: 8px;
    position: fixed;
    background-color: white;
    color: black;
    font-size: 16px;
    font-weight: bold;
    right: 0;
    bottom: 0;
    z-index: 100000;
    content: "Demo terminal";
  }
  .terminal {
    height: 10vh;
    padding: 0;
    margin: 0;
    overflow: hidden;
  }