* {
    box-sizing: border-box;
  }
  
  :root {
    font-family:
      Inter,
      system-ui,
      Segoe UI,
      Roboto,
      Helvetica Neue,
      sans-serif;
    color: black;
    background: white;
  }
  
  body {
    margin: 0;
    padding: 0;
    overflow-y: hidden;
  }
  #top {
    width: 100%;
    background-color: black;
  }
  #top ul {
    margin: 0 auto;
    display: table;
    padding: 0;
    font-size: 20px;
    font-weight: bold;
    font-family: monospace;
  }

  #top ul li {
    display: inline-flex;
    list-style: none;
    padding: 0;
    margin: 8px;
  }
  #top ul li {
    color: yellow;
    padding: 4px;
    background-color: #444444;
  }
  #top ul li a {
    color: white;
  }
  #top a:hover, #top a:focus {
    outline: yellow 2px solid;
    background-color: black;
  }
  
  web-container::part(iframe) {
    height: 84vh;
    width: 100%;
    border: none;
    background-color: transparent;
  }

  web-container::part(terminal)::before {
    display: inline-flex;
    height: 20px;
    padding: 8px;
    position: fixed;
    background-color: white;
    color: black;
    font-size: 16px;
    font-weight: bold;
    right: 0;
    bottom: 0;
    z-index: 100000;
    content: "Demo terminal";
  }
  web-container::part(terminal) {
    height: 10vh;
    padding: 0;
    margin: 0;
    overflow: hidden;
  }